---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import TagList from "../components/TagList.astro";
import BaseLayout from "./BaseLayout.astro";
import "../styles/remark-link-card.css";
import "remark-github-blockquote-alert/alert.css";

type Props = CollectionEntry<"blog">["data"] & { slug: string };

const { title, description, pubDate, updatedDate, slug, tags } = Astro.props;
const ogpImagePath = `/blog/${slug}/ogp.png`;
---

<BaseLayout title={title} description={description} image={ogpImagePath}>
  <article class="prose prose-sm py-2 md:prose-base">
    <div>
      <div class="mb-1 py-1 leading-none">
        <div class="mb-2 text-l font-bold">
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <span class="text-muted text-base font-normal italic ml-2">
                (updated: <FormattedDate date={updatedDate} />)
              </span>
            )
          }
        </div>
        <h1 class="m-0 mb-2 text-3xl font-bold max-md:text-2xl">{title}</h1>
        <TagList tags={tags} />
      </div>
      <slot />
    </div>
  </article>
</BaseLayout>
